body {
    font-family: 'Roboto', sans-serif;
}

form button {
    margin: 5px 0px;
}
textarea {
    display: block;
    margin-bottom: 10px;
}
.post {
    border: 1px solid #ccc;
    margin-top: 10px;
}
.comments-section {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.comment {
    margin-bottom: 10px;
}
.comment .comment-name {
    font-weight: bold;
}
.comment .comment-date {
    font-style: italic;
    font-size: 0.8em;
}
.comment .reply-btn, .edit-btn {
    font-size: 0.8em;
}
.comment-details {
    width: 95%;
    float: left;
    margin-bottom: 5px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px;
}
.comment-details p {
    margin-bottom: 0px;
}
.comment .profile_pic {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    float: left;
    border-radius: 50%;
}
.reply {
    margin-left: 30px;
}
.reply_form {
    margin-left: 40px;
    margin-bottom: 10px;
    display: none;
}
#comment_form {
    margin-top: 10px;
}
.col {
    display: inline-block;
    margin-bottom: 5px;
}
#error-div {
    border: 1px solid red;
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
#reply-error-div {
    border: 1px solid red;
    display: none;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.form-group {
    margin-top: 10px;
}
#reply_text {
    margin-top: 10px;
}
.row {
    margin: 0 auto;
}

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container {
        width: 80%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

